$fs-1: 44px
$fs-2: 30px
$fs-2-5: 28px
$fs-3: 22px
$fs-3-5: 18px
$fs-3-9: 17px
$fs-4: 16px
$fs-5: 14px

$main-text-color: #282C37
$btn-green-color: #47CF34
$btn-green-active: #30B01E
$link-active: #5391DC
$bg-color: #6CA7EF
$bg-color-active: #5391DC
$white-color: #fff