extends ../template.pug
block crumbs 
    include ../config/crumbsInfo
        ul.crumbs__list.ps-0.m-0
            +crumbsItem(crumbTrainingsDetail, 'crumbs__item')
block content
    section.training-about
        .my-container.container
            .training-about__title-block
                h1.training-about__title.mb-3
                    |Бизнес-тренинг «Маркетинг – технология роста»
                
                span.training-about__subtitle Для кого: руководители компаний, маркетологи, продавцы
                span.training-about__subtitle Цели бизнес-тренинга:
            ul.training-about__list
                +infoListItem(trainingAboutItems, 'training-about__item')

            .training-about__btn 
                button(class='btn btn-primary') Подробнее
                    img(src=iconRightArrow, alt="icon")
        

    include ../config/businessProgramInfo
        section.training-detail 
            .my-container.container
                h1.training-detail__title Программа бизнес-тренинга
                ul.training-detail__list.ps-0
                    +businessProgramItem(businessProgramAll, 'training-detail__item')
        
    include ../includes/form/getConsul

    .cube-bg
            img(src=bgCubes, alt="cubes")