-
    var detailServicesList = [
        {text: 'Интервью с сотрудниками компании и потребителями'},
        {text: 'Сбор информации о рынках из открытых источников'},
        {text: 'Анализ внешней информации: SWOT, BCG, сравнительный анализ по', link: '#', linkText: '4Р маркетинга'},
        {text: 'Анализ внутренней информации: динамика основных показателей с определением причин изменений'},
        {text: 'Совместное обсуждение целей и плана действий'}
    ]