-
    const detailServicesList = [
        {text: 'Интервью с сотрудниками компании и потребителями'},
        {text: 'Сбор информации о рынках из открытых источников'},
        {text: 'Анализ внешней информации: SWOT, BCG, сравнительный анализ по', link: '#', linkText: '4Р маркетинга'},
        {text: 'Анализ внутренней информации: динамика основных показателей с определением причин изменений'},
        {text: 'Совместное обсуждение целей и плана действий'}
    ]

    const businessProgramAll = [
        {
            title: 'Функция маркетинга как бизнес-технологии',
            list: [
                {text: 'Рынок как динамическая система взаимодействия потребительской и конкурентной сред'},
                {text: 'Поиск точек роста в непрерывно меняющейся рыночной среде'},
                {text: 'Прибыль компании как производная от управления маркетингом'},
                {text: 'Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей'}
            ]
        },
        {
            title: 'Практический инструментарий',
            list: [
                {text: 'Количественные и качественные методы исследования рынка. Первичная информация как основа формирования эффективной стратегии. Отсутствие системности в получении и обработке информации – ключевые проблемы. Целеполагание на основе исследований.'},
                {text: 'Формирование товарной матрицы. Технология категорийного менеджмента. Кросс -конкурентный анализ, определение ролей продукта в товарной матрице. '},
                {text: 'Ценообразование на основе рыночной ценности продукта. Выбор ценового позиционирования относительно конкурентов. Управление маржинальностью.'},
                {text: 'Управление коммуникациями с рынком. «Золотое» правило продвижения. Правила выбора каналов коммуникаций. Модели оценки эффективности затрат. Технологии интернет-маркетинга как эффективное дополнение к традиционным каналам продвижения. Основные ошибки в стратегии продвижения'},
                {text: 'Аналитика данных. Оцифрованная картина рынка как основа принятия эффективных решений. Типовые формы анализа основных показателей.'}
            ]
        },
        {
            title: 'Организация маркетинга в компании',
            list: [
                {text: 'Принципиальная схема бизнес-процесса маркетинга. Наиболее узкие места. Критерии оценки эффективности'},
                {text: 'Маркетинг-план как дорожная карта развития. Структура. Этапы планирования. Контрольные точки выполнения. '},
                {text: 'Взаимодействие служб маркетинга и продаж как основа успешной реализации планов. Устранение разрывов в понимании рыночной ситуации. Создание общего информационного поля.'},
            ]
        },
        {
            title: 'Кейсы-примеры:',
            list: [
                {text: '«Догнать и перегнать лидера рынка»'},
                {text: '«Увеличить прибыль на падающем рынке»'},
                {text: '«Comeback бывшего лидера»'},
                {text: '«Повышаем маржинальность, не выходя из кабинета»'},
            ]
        },
        {
            title: 'Кейсы-примеры:',
            noMark: true,
            list: [
                {text: 'С заказчиком предварительно согласуется наиболее актуальная проблема. В заключительной части тренинга в ходе совместного обсуждения определяются подходы к ее решению. Результатом является определение целей и плана действий по их достижению.', noMark: true},
            ]
        },
        {
            title: 'Бонусы',
            noMark: true,
            list: [
                {text: '5 часов бесплатных консультаций в течение месяца после проведения тренинга.', noMark: true},
                {text: 'Набор шаблонов для анализа ключевых показателей.', noMark: true}
            ]
        },
        {
            title: 'Преимущества бизнес-тренинга:',
            list: [
                {text: 'Составлен на основе опыта решения конкретных задач'},
                {text: 'Только необходимый минимум теории, не рассматривается плохо применяемый на практике инструментарий'},
                {text: 'Акцент на реальных примерах с разбором ошибок'},
                {text: 'Направлен на практическую реализацию, начиная с завтрашнего дня'},
            ]
        },
        {
            title: 'Форматы проведения:',
            list: [
                {text: 'Групповой онлайн-формат, продолжительность 3 дня, по 4 часа в день'},
                {text: 'Индивидуальный онлайн-формат, продолжительность 2 дня, по 4 часа в день'},
                {text: '«Comeback бывшего лидера»'},
                {text: 'групповой офлайн-формат, продолжительность 2 дня, по 8 часов в день'},
            ]
        }
    ]