-
    const crumbServicesDetail = [
        {text: 'Главная', link: '/'},
        {text: 'Услуги', link: '/services.html'},
        {text: 'Разрабатываем маркетинг-план: дорожная карта достижения целей'}
    ]

    const crumbTrainings = [
        {text: 'Главная', link: '/'},
        {text: 'Тренинги'},
    ]