-
    const crumbServicesDetail = [
        {text: 'Главная', link: '/'},
        {text: 'Услуги', link: '/services_detail.html'},
        {text: 'Разрабатываем маркетинг-план: дорожная карта достижения целей'}
    ]

    const crumbTrainings = [
        {text: 'Главная', link: '/'},
        {text: 'Тренинги'},
    ]

    const crumbTrainingsDetail = [
        {text: 'Главная', link: '/'},
        {text: 'Тренинги', link: '/trainings.html'},
        {text: 'Бизнес-тренинг «Маркетинг – технология роста»'}
    ]