-
    const trainingCardInfo = [
        {
            title: 'Бизнес-тренинг «Маркетинг – технология роста»',
            subtitle: 'Для кого: руководители компаний, маркетологи, продавцы Цели бизнес-тренинга:',
            list: [
                {
                    text: 'Определение маркетинга как технологии роста',
                    imgUrl: imgMiniCube
                },
                {
                    text: 'Организация маркетинга как сквозного бизнес-процесса',
                    imgUrl: imgMiniCube
                },
                {
                    text: 'Получение практических навыков применения технологии маркетинга',
                    imgUrl: imgMiniCube
                }
            ]
        },
        {
            title: 'Тренинг с длинным названием в 3 текстовой строчки',
            subtitle: 'Для кого: руководители компаний, маркетологи, продавцы Цели бизнес-тренинга:',
            list: [
                {
                    text: 'Определение маркетинга как технологии роста',
                    imgUrl: imgMiniCube
                },
                {
                    text: 'Организация маркетинга как сквозного бизнес-процесса',
                    imgUrl: imgMiniCube
                },
                {
                    text: 'Получение практических навыков применения технологии маркетинга',
                    imgUrl: imgMiniCube
                },
                {
                    text: 'Получение практических навыков применения технологии маркетинга',
                    imgUrl: imgMiniCube
                }
            ]
        },
        {
            title: 'Короткое название',
            subtitle: 'Для кого: руководители компаний, маркетологи, продавцы Цели бизнес-тренинга:',
            list: [
                {
                    text: 'Определение маркетинга как технологии роста',
                    imgUrl: imgMiniCube
                },
                {
                    text: 'Организация маркетинга как сквозного бизнес-процесса',
                    imgUrl: imgMiniCube
                },
                {
                    text: 'Получение практических навыков применения технологии маркетинга',
                    imgUrl: imgMiniCube
                },
                {
                    text: 'Получение практических навыков применения технологии маркетинга',
                    imgUrl: imgMiniCube
                }
            ]
        }
    ]