-
    const navbarItems = [
        {link: './index.html', text: 'консультации'},
        {link: './services_detail.html', text: 'Услуги'},
        {link: './trainings.html', text: 'Треннинги'},
        {link: 'https://exapmle.com', text: 'блог'},
    ]

    const imgMiniCube = './assets/icons/miniCube.svg'
    const iconRightArrow = './assets/icons/icon_right.svg'
    const bgCubes = './assets/icons/cubesBg.svg'
    const closeWin = './assets/icons/close.svg'

    const homeQuestesItems = [
        {link: '#', text: 'Как найти точки роста и определить цели?', imgUrl: imgMiniCube},
        {link: '#', text: 'Как увеличить прибыль, управляя ценами?', imgUrl: imgMiniCube},
        {link: '#', text: 'Как избежать проблем на старте нового бизнеса?', imgUrl: imgMiniCube},
        {link: '#', text: 'Как не попасть в "черную дыру" затрат на продвижение?', imgUrl: imgMiniCube},
    ]

    const servicesAboutItems = [
        {text: 'Делаем прогноз развития рынка', imgUrl: imgMiniCube},
        {text: 'Проводим сравнительный анализ стратегий конкурентов', imgUrl: imgMiniCube},
        {text: 'Определяем точки роста', imgUrl: imgMiniCube},
        {text: 'Ставим объективные цели', imgUrl: imgMiniCube},
        {text: 'Разрабатываем план и модель контроля его выполнения', imgUrl: imgMiniCube},
    ]

    const trainingAboutItems = [
        {text: 'Определение маркетинга как технологии роста', imgUrl: imgMiniCube},
        {text: 'Организация маркетинга как сквозного бизнес-процесса', imgUrl: imgMiniCube},
        {text: 'Получение практических навыков применения технологии маркетинга', imgUrl: imgMiniCube}
    ]

    const homeServicesItems = [
        {
            link: './services_detail.html', 
            text: 'Разрабатываем маркетинг-план: дорожная карта достижения целей',
            imgUrl: './assets/icons/report.svg'
        },
        {
            link: './services_detail.html', 
            text: 'Повышаем эффективность продвижения: аудит существующей модели',
            imgUrl: './assets/icons/bulb.svg'
        },
        {
            link: './services_detail.html', 
            text: 'Находим скрытую прибыль: анализ модели ценообразования',
            imgUrl: './assets/icons/search.svg'
        },
        {
            link: './services_detail.html', 
            text: 'Запускаем новый проект: start-up маркетинг',
            imgUrl: './assets/icons/rocket.svg'
        }
    ]