.get-consultation 
    .get-consultation__form-block 
        form
            .get-consultation__form-body 
                input(type="text" placeholder='Ваше имя')
                input(type="email" placeholder='Email')
                button.btn.btn-primery.w-100 Получить консультацию