.get-consultation 
    .get-consultation__form-block 
        form
            .get-consultation__form-body.row
                input(type="text" placeholder='Ваше имя' required)
                input(type="email" placeholder='Email' required)
                button.btn.btn-primery.w-100 Получить консультацию