.modal-help 
    .modal-help__wrapper 
        .modal-help__body
            .modal-help__form-block
                button(class="modal-help__close-btn", type="button")
                    img(src='./assets/icons/close.svg', alt="close")
                    
                h2.modal-help__title Оставьте заявку
                form 
                    .modal-help__form-body
                        .modal-help__inp-block.modal-help__inp-block--name
                            input(type="text" id='helpModalName' placeholder='Ваше имя')
                            span поле обязательно*
                        .modal-help__inp-block.modal-help__inp-block--email
                            input(type="email" id='helpModalEmail' placeholder='Email')
                            span поле обязательно*
                        .modal-help__inp-block.modal-help__inp-block--mess
                            textarea( id='helpModalMess' placeholder='Пожалуйста опишите вашу проблему')
                            span поле обязательно*
                        button.btn.green-btn.btn-primary.modal-help__btn Отправить
                        button(class='btn modal-help__btn modal-help__btn--load', disabled) идет отправка...

                        span.form-done Ваша заявка успешно отправлена!